<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #title{
            height: 20vh;
            padding-top: 5%;
            padding-bottom: 8%;
        }
        form{
            display: flex;
            justify-content: center;
        }
        .form-row{
            width: 70vw;
        }
        #submit-div{
            padding-top: 5%;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    </style>
</head>
<body>
    <div id="title" class="text-center">
        <h1>Add Your Task.</h1>
    </div>
    <form action="{% url 'beta:beta-page' %}" method="POST" class="text-center">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Task</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Task</div>
                    </div>
                    {{ form.name }}
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Location</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Location</div>
                    </div>
                    {{ form.location }}
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Categories</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Categories</div>
                    </div>
                    {{ form.categories }}
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Date</div>
                    </div>
                    {{ form.date }}
                </div>
            </div>
            <div class="col-12 my-1" id="submit-div">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <a class="col-12 my-4" href="/beta/display">See my schedule</a>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</body>
</html>