{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <ul class="nav justify-content-center" {% if  'work' in request.get_full_path %}style="background-color:#1f1d1d ;"{% endif %}>
        <li class="nav-item">
            <a class="nav-link" {% if  'work' in request.get_full_path %}style="color:#D8E359;"{% endif %} href="/">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" {% if  'work' in request.get_full_path %}style="color:#D8E359;"{% endif %} href="{% url 'work' %}">Work</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" {% if  'work' in request.get_full_path %}style="color:#D8E359;"{% endif %} href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" {% if  'work' in request.get_full_path %}style="color:#D8E359;"{% endif %} href="/beta">Schedule</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</body>
</html>