{% extends 'navbar_layout.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="container-lg text-center landing" id="work-landing">
        <img src="{% static 'avi.png' %}" class="img-fluid image-me" style="border: 5px solid rgb(122, 122, 122)" alt="avi">
        <h1>What I've been up to.</h1>
        <div id="bio">
            <p>Here’s some of my work and experience.</p>
        </div>
    </div>
    <div class="container-lg text-center landing" id="work-1">
        <img src="{% static 'Biro-Bisnis-dan-Kemitraan.png' %}" class="img-fluid img-work" alt="avi">
        <h1>BEM Fasilkom UI.</h1>
        <div id="bio">
            <p>Person in Charge of Partnership Division. Maintain relation with BEM Fasilkom’s website hosting provider. Making contract with sponsorship company, etc.</p>
        </div>
        <div class="div-button text-center">
            <a role="button" href="https://bem.cs.ui.ac.id/" class="btn btn-outline-primary">Visit</a>
       </div>
    </div>
    <div class="container-lg text-center landing" id="work-2">
        <img src="{% static 'java2.png' %}" class="img-fluid img-work" alt="avi">
        <h1>Lecturer Assistant.</h1>
        <div id="bio">
            <p>Lecturer Assistant of Programming Foundation class with Java language. Making lab assignment and project task. Teaching and giving feedback to student.</p>
        </div>
        <div class="div-button text-center">
            <a role="button" class="btn btn-outline-primary" href="http://siasisten.cs.ui.ac.id">Visit</a>
        </div>
    </div>
{% endblock %}