<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form</title>
</head>
<body>
    <form action="{% url 'form-pages' %}"" method="POST">
        {% csrf_token %}
        <!-- <label for="name_form">Name : </label>
        <input type="text" id="name_form" name="name_form" value="{{ current_name }}"> -->
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>